.image {
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.image > img {
    position:absolute;
    top:50%;
    height:auto;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    width:100%;
}

.row-view-info-button{
    margin-top: 95px;
}

.margin-bottom{
    margin-bottom: 20px;
}
    
