<div *ngFor='let car of cars'>
  <div class="row alert alert-info" role="alert">
    <div class="image col-md-6">      
      <img src="{{car.linkToPhoto}}">
    </div>
    <div class="col-md-6">
      <div class='row'>
        <div class="col-md-6 col-md-offset-4">
      {{car.vendor}} {{car.model}} {{car.year | formatYear}}
      </div>
      </div>
      <div class='row row-view-info-button'>
        <div class="col-md-1 col-md-offset-8">
          <button type="button" class="btn btn-default btn-md">Read more</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
